* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  box-shadow: 3px 3px #80808063;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.jumbotron {
  background-color: #EEEEEE;
  padding: 1.5rem 4rem;
  margin: 1rem;
}

.text-center {
  text-align: center;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}